.objects-form {
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
  
    &__input {
      margin: 5px !important;
    }
  
    &__select {
      margin: 5px !important;
    }
  
    &__checkbox {
      margin: 5px !important;
    }
  }